h1, h2, h3, h4, p {
  font-family: monospace;
}

p.explain {
    font-family: monospace;
    white-space: pre;
  }
  
  h3.explain {
    font-family: monospace;
  }
  
  path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }
  
  circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
  }
  
  
  /* tooltip stuff */
  .d3-tip {
    line-height: 1;
    font-weight: normal;
    font-family: 'consolas', 'monaco', fixed-width;
    font-size: 10px;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    z-index: 91;
  }
  
  .d3-tip p {
    font-weight: normal;
    font-family: 'consolas', 'monaco', fixed-width;
    font-size: 10px;
  }
  
  span.header {
          display: block;
          font-size: 14px;
          text-align: center;
          line-height: 17px;
          color: white;
          width: 100%;
          /* background: #888; */ /* set via js */
  }
  
  span.dep {
       line-height: 14px;
       font-size: 10px;
       color: white;
       display: inline-block;
       margin: 1px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 12px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    z-index: 91;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    z-index: 91;
  }
  
  g.node text {
         font-family: 'consolas', 'monaco', 'fixed-widht';
         font-size: 8px;
  }
  